<%= render 'shared/breadcrumb', title: "新闻" %>

<table class="table table-bordered table-striped table-hover topics">
  <tbody>
    <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic %><span class="pull-right date">[<%= l topic.created_at.to_date %>]</span></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @topics %>

