<ul class="breadcrumb">
  <li class="active">公司简介<li>
</ul>
<div class="well">
  湖南锦衣服装有限公司是一家专业化、正规化的服装设计和制作公司，公司培养了一批以年轻人为骨干力量的、富有创意、高层次、高效率的专业人才队伍，包括经验丰富的毕业于清华美院的服装设计师、服装打样、制版、企业形象策划师，拥有国际国内先进的现代化服装生产线9条（其中包括意大利、德国和国内顶级上海的生产线），具有严格的服装质量管理体系和完善的售后服务体系。

　　湖南锦衣服装有限公司对每一笔订单，无论大小，都一定做到：针对实际，独立设计，以保证客户特有的个性化形象；真材实料，精工细做，以保证制服品质的长期稳定性，售后跟踪，持续服务，全面解决客户的一切后顾之忧。凭借这一系列专业化、规范化的经营管理机制，在行业的知名度蒸蒸日上。

　　锦衣服装自2008年创办以来，以优质的产品质量、诚实的信誉和优良的售后服务，深得广大客户的认可，服务对象遍及湖南各大企事业单位、星级酒店和娱乐场所。

　　正因为有这样一支强大而又充满活力的队伍，锦衣服装在日益激烈的服装行业竞争中脱颖而出，从创业时的几间平房发展到如今在湖南的服装公司中名列前茅，并赢得了客户有口皆碑的盛誉。

　　我们可以自信地向每一位客户承诺——选择了锦衣就选择了制服专家。

 

　　欢迎来电：0731——84225262   从这一刻开始，锦衣服装为您企业服装形象保

驾护航！
</div>
