/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#app {
  background-color: #331;
}

#content {
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-radius: 4px;
  background-color: white;

  .important {
    color: red;
    font-weight: bold;
  }

  .date {
    color: #999;
  }

  pre {
    background-color: white;
    border: none;
  }

  .well.sidebar-nav{
    margin-left: 20px;

    .nav{
      a {
        color: #777777;
      }

      li.active>a{
        background-color: #eeeeee;
      }
    }
  }

  #right {
    margin-right: 20px;

    .description {
      background-color: white;
      border: 0;
    }

    .image {
      border: 1px #ccc solid;
      padding: 2px;
      border-radius: 4px;
    }
  }

}
