<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">产品类别</li>
    <% Category.roots.each do |category| %>
      <%= render_category category %>
      <% if category.has_children? %>
        <ul class="nav nav-list">
          <% category.children.each do |child| %>
            <%= render_category child %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
</div><!--/.well -->
